<!DOCTYPE html>
<html>

<head>
    <title>Microsoft.VisualBasic.Data.visualize.Network.Layouts.SpringForce.ForceDirected2D</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <link rel="stylesheet" type="text/css" href="https://rdocumentation.rsharp.net/assets/page.css">
</head>

<body>
    <div class="container">

        <table style="width: 100%;">
            <tr>
                <td>ForceDirected2D {Microsoft.VisualBasic.Data.visualize.Network.Layouts.SpringForce}</td>
                <td style="text-align: right;">.NET clr documentation</td>
            </tr>
        </table>

        <h2>ForceDirected2D</h2>

        <h3>Description</h3>

        <p>Layout provider engine for the 2D network graphics.</p>

        <h3>Declare</h3>        

        <pre>
            <code id="clr_ts">
# namespace Microsoft.VisualBasic.Data.visualize.Network.Layouts.SpringForce
export class ForceDirected2D extends <a href="/vignettes/clr/Microsoft/VisualBasic/Data/visualize/Network/Layouts/SpringForce/ForceDirected`1.html">ForceDirected`1</a> {
   damping: double;
   graph: <a href="/vignettes/clr/Microsoft/VisualBasic/Data/visualize/Network/Graph/NetworkGraph.html">NetworkGraph</a>;
   Height: double;
   interactiveMode: boolean;
   parallel: boolean;
   radius: double;
   repulsion: double;
   stiffness: double;
   threshold: double;
   Width: double;
   withinThreshold: boolean;
}
</code>
        </pre>

        <h3>.NET clr type reference tree</h3>

        <ol>
<li>this class extends from <a href="/vignettes/clr/Microsoft/VisualBasic/Data/visualize/Network/Layouts/SpringForce/ForceDirected`1.html">ForceDirected`1</a> class: <a href="/vignettes/clr/Microsoft/VisualBasic/Data/visualize/Network/Layouts/SpringForce/ForceDirected`1.html">ForceDirected`1</a></li>
<li>use by <i>property</i> member <code>graph</code>: <a href="/vignettes/clr/Microsoft/VisualBasic/Data/visualize/Network/Graph/NetworkGraph.html">NetworkGraph</a></li>
</ol>


        <hr />
        <div style="text-align: center;">[Package <em>{$package}</em> version {$version} <a
                href="../{$package}.html">Index</a>]
        </div>
    </div>
</body>

<script type="text/javascript" src="https://rdocumentation.rsharp.net/assets/R_syntax.js"></script>
<script type="text/javascript" src="https://rdocumentation.rsharp.net/assets/highlights.js"></script>
<script type="text/javascript">r_highlights("clr_ts");</script>

</html>